<?xml version='0.239' encoding='utf-8'?>
<widget id="br.com.transit.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TRANSIT</name>
    <description>
        TRANSIT
    </description>
    <author email="mayron@cachina.com.br" href="http://www.cachina.com.br">
        Mayron Cachina
    </author>

    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.3.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />


    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.camera" version="0.2.4" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />

    <!-- PERMISSIONSÕES -->
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>


    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
    
    <gap:splash src="images/screen/320x480.png" width="320" height="480" />
    <gap:splash src="images/screen/640x960.png" width="640" height="960" />
    <gap:splash src="images/screen/640x1136.png" width="640" height="1136" />
    <gap:splash src="images/screen/768x1204.png" width="768" height="1204 " />
    <gap:splash src="images/screen/1536x2048.png" width="1536" height="2048" />
    <gap:splash src="images/screen/240x400.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="images/screen/320x480.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="images/screen/480x800.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="images/screen/720x960.png" gap:platform="android" gap:density="xhdpi" />

    <access origin="*"  />
    <content src="index.html" />

</widget>
